<%= form_for(@micropost) do |f| %>
	<%= render "shared/error_messages", object: f.object %>
	<div class="field">
		<span id="micropost_content_remaining"></span>
		<%= f.text_area :content, placeholder: "Compose new micropost..." %><br>
	</div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>

